{% layout 'root.liquid' %}
{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <h1>{{ cat }}/{{ forum }}</h1>
    </li>
    {% if cat and forum %}
    <li class="list-group-item">
        {% assign category = forums[cat] %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Forum</th>
                    <th scope="col">Description</th>
                    <th scope="col">Last Post</th>
                </tr>
            </thead>
            <tbody>
                {% for channel in category["channels"] %}
                <tr>
                    <th scope="row"><a href="/forums/{{ cat }}/{{ channel[0] }}">{{ channel[0] }}</a></th>
                    <td>{{ channel[1]["description"] }}</td>
                    {% assign lastpostid = channel[1]["lastpost"] %}
                    {% assign lastpost = channel[1]["posts"][lastpostid] %}
                    {% assign lastpostuser = users[lastpost["author"]] %}
                    <td><a href="/forums/{{ cat }}/{{ channel[0] }}/{{ lastpostid }}">{{ lastpost["title"] }}</a><br /><span class="material-icons">create</span>{% if lastpostuser %}<a href="/u/{{ lastpostuser["username"] }}">{{ lastpostuser["username"] }}</a>{% else %}Invalid User{% endif %}<span class="material-icons">schedule</span><span class="showdate">{{ lastpost["timestamp"] }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% else %}
    <li class="list-group-item">
        <p>Not Found</p>
    </li>
    {% endif %}
    <li class="list-group-item">
        <a href="/forums/create" class="btn btn-success">Create Post</a>
    </li>
</ul>
{% endblock %}