<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <script src="/assets/webpack.bundle.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="/assets/css/style.css" rel="stylesheet">
        <script src="/assets/js/script.js"></script>
        <link href="/assets/css/prism.css" rel="stylesheet">
        <script src="/assets/js/prism.js"></script>
        <script src="/marked/marked.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet"> -->
    </head>
    <body>
        <div class="container p-3">
            <img class="rounded mx-auto d-block" src="/assets/img/head.png" width="320" height="320"/>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary rounded">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">{{ title }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% for item in config.navbar %}
                            {% if item[1] contains ":*" %}
                            <li class="nav-item btn-group">
                                <a class="nav-link link-light" href="{{ item[1] | replace: ":*", "" }}"><span class="link-white">{{ item[0] | capitalize }}</span></a>
                                <a class="nav-link dropdown-toggle dropdown-toggle-split link-white" data-bs-toggle="pagesDropdown" aria-expanded="false">
                                    <span class="visually-hidden"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for page in custompages %}
                                    <li><a class="dropdown-item" href="{{ item[1] | replace: ":*", "" }}/{{ page }}">{{ page | capitalize }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ item[1] }}"><span class="link-white">{{ item[0] | capitalize }}</span></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            {% if user.email %}
                                <li class="nav-item">
                                    <li><a class="nav-link" href="/account"><span><i class="fas fa-user-circle"></i> Profile</span></a></li>
                                    <li><a class="nav-link" href="/logout"><span><i class="fas fa-sign-out-alt"></i> Logout</span></a></li>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <li><a class="nav-link" href="/register"><span><i class="fas fa-door-open"></i> Register</span></a></li>
                                </li>
                                <li class="nav-item">
                                    <li><a class="nav-link" href="/login"><span><i class="fas fa-sign-in-alt"></i> Login</span></a></li>
                                </li>
                            {% endif %}
                        </ul>
                        <form class="d-flex" action="/search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <br />
        <div class="container">
            {% for alert in alerts %}
                <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
                    {{ alert.text }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {% if config.copyright %}&copy; <span class="year"></span> <a href="{{ config.author.url }}">{{ config.author.name }}</a>{% endif %}
        </div>
        <script>Bundle.main()</script>
</body>
</html>